/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 999999;
}

	#aToolTip .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
	}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	background: url(/images/bg_tooltip.png);
	color:#fff;
	margin:0;
	width: 170px;
	padding: 12px 15px;
	
	-moz-border-radius: 12px 12px 12px 0;
	-webkit-border-radius: 12px 12px 12px 0;
	-khtml-border-radius: 12px 12px 12px 0;
	border-radius: 5px 5px 5px 0;
	
	-moz-box-shadow: 2px 2px 5px #111; /* for Firefox 3.5+ */
	-webkit-box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
	box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
}
	
	.defaultTheme #aToolTipCloseBtn {
		display:block;
		height:18px;
		width:18px;
		background:url(/images/closeBtn.png) no-repeat;
		text-indent:-9999px;
		outline:none;
		position:absolute;
		top:-6px;
		right:-25px;
		margin:2px;
		padding:4px;
	}
	
.date
{
	display: inline-block;
	border-radius: 4px;
	padding: 3px 5px;
	background: #d3314c;
	color: #fff;
	font-size: 11px;
	margin: 7px 0;
}

.blue
{
	display: block;
	color: #26eeff;
	margin: 0 0 7px;
}

.defaultTheme .button
{
	border-radius: 4px;
	background: #dfdfdf;
	border: 1px solid #bcbabc;
	text-transform: none;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px 2px;
	display: block;
	margin: 6px 0 0;
}













