﻿*
{
	margin: 0;
	padding: 0;
}

body
{
	font: 12px Arial, Tahoma;
	color: #2e3642;
}

img
{
	border: 0;
}

a, a:link, a:visited
{
	text-decoration: none;
	outline: 0;
	color: #2e3642;
}

a:hover
{
	text-decoration: underline;
}

ul
{
	list-style: none;
}

header, footer, section, article, aside, hgroup, nav
{
	display: block;
}

.button::-moz-focus-inner {
    border:0;
    padding:0;
}










.clr
{
	clear: both;
}

.fl
{
	float: left;
}

.fr
{
	float: right;
}

.null
{
	line-height: 0;
	font-size: 0;
}









header
{
	min-width: 940px;
	padding: 17px 0;
	background: #fff url(/images/bg_top.png) repeat-x;	
}







.center
{
	width: 940px;
	margin: auto;
}

.top-right li
{
	margin: 0 0 0 15px;
	float: left;
	position: relative;
}

.top-right li a, .top-right li a:link, .top-right li a:visited
{
	display: block;
	width: 14px;
	height: 14px;
}

.top-right li a.settings
{
	background: url(/images/icon_settings.png);
}

.top-right li a.notification
{
	background: url(/images/icon_notification.png);
}

.top-right li a.home
{
	background: url(/images/icon_home.png);
}

.notification-number
{
	color: #fff;
	background: #cb080c;
	border: 1px solid #a80003;
	position: absolute;
	padding: 0 1px;
	line-height: 12px;
	top: -12px;
	right: -4px;
	font-size: 11px;
}

section
{
	min-width: 940px;
	background: #fff url(/images/bg_section.png) repeat-x;
}

.breadcrumb
{
	padding: 8px 0;
	font-style: italic;
	text-shadow: 1px 1px 0 #fff;
	font-size: 11px;
}

.breadcrumb span
{
	color: #d1304b;
}

.container
{
	border-radius: 5px;
	padding: 0 0 10px;
	box-shadow: 0 0 2px #a7a7a7;
	background: #eaeaea;
}

h1
{
	background: #495566 url(/images/bg_h1.png) top repeat-x;
	border: 1px solid #434f5e;
	padding: 7px 14px;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 22px;
	text-shadow: 2px 2px 2px #242d3a;
}

.btn-dash, a.btn-dash
{
	font-size: 11px;
	color: #fff;
	display: inline-block;
	background: #495566 url(/images/bg_btn_dash.png) top repeat-x;
	padding: 4px 15px 5px;
	border-top: 1px solid #627085;
	border-right: 1px solid #424e5e;
	border-bottom: 1px solid #2f3844;
	border-left: 1px solid #424e5e;
	border-radius: 15px;
	text-shadow: 1px 1px 1px #242d3a;
}

.btn-dash:hover, a.btn-dash:hover
{
	text-decoration: none;
	background: #495667;
}

.tabs
{
	padding: 13px 0 14px;
	margin: 0 15px;
	font-size: 18px;
	font-weight: bold;
	background: url(/images/bg_tabs.png) bottom repeat-x;
}

.tabs li
{
	display: inline-block;
	margin: 0 30px 0 0;
}

.tabs li a, .tabs li a:link, .tabs li a:visited
{
	color: #2e3642;
}

.tabs li a:hover, .tabs li a.sel
{
	color: #d1304b;
	text-decoration: none;
}

.button, a.button
{
	display: inline-block;
	cursor: pointer;
	border: 1px solid #78bec7;
	background: #89d9e0;
	color: #384351;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #ddfafe;
	padding: 4px 15px;
	border-radius: 15px;
	font-family: Arial, Tahoma;
}

a.button:hover
{
	text-decoration: none;
}

.btn-holder
{
	padding: 10px 15px;
}

.list-holder
{
	margin: 0 15px;
	border-radius: 5px;
	border: 1px solid #cbcbcb;
	border-bottom: none;
	white-space:nowrap;
	overflow-x: auto;
	display: inline-block;
	max-width: 908px;
}

.listHeaderHidden{
    margin: 0 15px;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    border-bottom: none;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: 908px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    z-index: 999998;
}

.listFooterHidden{
    margin: 0 15px;
    border: none;
    white-space: nowrap;
    overflow: scroll;
    display: block;
    width: 920px;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
    z-index: 999998;
}

.row-grey
{
    padding: 0;
    margin-left: 15px;
	border-bottom: 1px solid #cbcbcb;
	background: #c9c9c9;
	font-weight: normal;
    height: 34px;
	display: inline-block;
}

.name, .grade, .subject
{
	width: 155px;
	display: inline-block;
	padding: 10px 0px 10px 0;
	margin: 0 0px 0 0;
    font-weight: bold;
	text-shadow: 1px 1px 1px #fffffe;
	background: url(/images/bg_td.png) right no-repeat;
}

.grade
{
	width: 60px;
	text-align: center;
}

.subject
{
	width: 120px;
	text-align: center;
}

.subject img
{
	vertical-align: middle;
}

.subject:nth-last-child(1)
{
	margin: 0;
	background: none;
}

.row-universal
{
	background: #f1f1f1;
	/*min-width: 878px;*/
	display: inline-block;
    padding: 0;
    /*margin-left: 15px;*/
    padding-left: 15px;
	font-weight: bold;
	border-bottom: 1px solid #cbcbcb;
	border-radius: 0 0 5px 5px;
}

.row-universal .grade
{
	font-size: 16px;
	color: #d13856;
}

.row-universal .subject
{
	/*color: #777777;*/
	color: #000000;
}

.pagination
{
	padding: 10px 15px 0;
	text-align: right;
	font-size: 11px;
}

.pagination a, .pagination a:link, .pagination a:visited
{
	display: inline-block;
	padding: 2px 5px;
	margin: 0 0 0 3px;
	background: #dddddd;
	border: 1px solid #bcbabc;
	border-radius: 3px;
	text-shadow: 1px 1px 0 #fff;
}

.pagination a:hover, .pagination a.sel
{
	background: #89d9e0;
	border: 1px solid #7dc5cf;
	text-decoration: none;
}

.footer
{
	padding: 15px 0;
	text-align: center;
	color: #777777;
	font-size: 11px;
	line-height: 18px;
}

.footer a, .footer a:link, .footer a:visited
{
	color: #777777;
}









/* ----------- MODAL ------------ */

/* Mask for background, by default is not display */
#mask {
	display: none;
	/*background: #000;*/
	position: fixed; left: 0; top: 0; 
	/*z-index: 10;*/
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

/* You can customize to your needs  */
.login-popup{
	display:none;
	background: url(/images/bg_modal.png);
	padding: 10px; 	
	/*border: 2px solid #ddd;*/
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 9999999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius: 10px;
        -moz-border-radius: 10px; /* Firefox */
        -webkit-border-radius: 10px; /* Safari, Chrome */
}

.box
{
	border-radius: 10px;
	background: #eaeaea;
	padding: 0 0 13px;
}

.box-in
{
	padding: 13px 15px 0;
	width: 365px;
}

.text-modal
{
	width: 250px;
	height: 34px;
	line-height: 34px;
	border-radius: 5px;
	border: 1px solid #bcbabc;
	padding: 0 10px;
	background: #f0f0f0;
}

.dd-list
{
	width: 272px;
	padding: 7px;
	border-radius: 5px;
	background: #f0f0f0;
	border: 1px solid #bcbabc;
}

.box-in .button
{
	padding: 8px 15px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	text-transform: none;
	background: #dedede;
	border: 1px solid #bcbabc;
}

.box-in .button:hover
{
	background: #89d9e0;
	border: 1px solid #80cad4;
}

.box-in label
{
	display: block;
	margin: 0 0 7px;
	font-size: 14px;
	font-weight: bold;
}

.settings-box-in {
    background-color: #d6d6d6;
    padding: 0 !important;
    margin-left: 10px !important;
    padding-bottom: 2px !important;
    padding-top: 5px !important;
    font-size: 12px !important;
    color: #2f2f2f !important;
    font-style: normal !important;
}

img.btn_close { 
	float: right; 
	margin: 4px 0px 0 0;
}

fieldset { 
	border:none; 
}

form.signin .textbox label { 
	display:block; 
	padding-bottom:7px; 
}

form.signin .textbox span { 
	display:block;
}

form.signin p, form.signin span { 
	color:#999; 
	font-size:11px; 
	line-height:18px;
} 

form.signin .textbox input { 
	background:#666666; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#fff; 
        border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
        -webkit-border-radius: 3px;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:200px;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

/*.button { 
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color:#000; 
	border-width:1px;
        border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px; 
	width:214px;
}
.button:hover { background:#ddd; }
*/

/* ----------- MODAL ------------ */

.red, .cyan
{
    display: inline-block;
    margin: 0 6px 0 0;
    background: #b1213f;
    border: 1px solid #900d28;
    border-radius: 4px;
    padding: 3px 6px;
    font-weight: bold;
    text-shadow: none;
}

.red
{
    color: #fff;
}

.cyan
{
    background: #89d9e0;
    border: 1px solid #7dc5cf;
}

.text-box
{
    /*color: #a8a8a8;*/
    font-size: 12px;
    height: 22px;
    line-height: 22px\9;
    width: 193px;
    padding: 0 10px;
    border-radius: 15px;
    border: 1px solid #c4c4c4;
}

.btn-holder2
{
    padding: 10px 15px;
    background: #f1f1f1;
    margin: 15px;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
    font-style: italic;
}

.tiny-cross-icon {
    width: 16px;
    height: 16px;
    background: url(/images/cross-circle.png) no-repeat;
    float: right;
    margin-right: -260px;
    margin-top: 10px;
}

.excused {
    width: 16px;
    height: 16px;
    background: url(/images/green-circle.png) no-repeat;
    padding-left: 5px;
    padding-bottom: 3px;
    vertical-align: bottom;
}

.unexcused {
    width: 16px;
    height: 16px;
    background: url(/images/red-circle.png) no-repeat;
    padding-left: 5px;
    padding-bottom: 3px;
    vertical-align: bottom;
}

.smalldrop {
    width: 11px;
    height: 11px;
    background: url(/images/drop.png) no-repeat;
    padding-left: 12px;
    vertical-align: sub;
}