{% extends 'GSHGradebookBundle::layout.html.twig' %}

{% block content %}
<input type="hidden" name="teacherId" id="teacherId" value="{{ teacherId }}"/>
<div class="btn-holder">
    <a href="javascript:void(0);" data-title="#modal-box-settings" class="button settings" style="margin-right: 6px;">Settings</a>
    <div id="modal-box-settings" class="login-popup">
        <a href="javascript:void(0);" class="close"><img src="/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>

        {% render url('_layoutsettings', {teacherId : result.teacherId}) %}
    </div>

    <a href="javascript:void(0);" data-title="#modal-box" class="button login-window">Add assignment</a>

    <div id="modal-box" class="login-popup">
        <a href="javascript:void(0);" class="close"><img src="/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>

        {% render url('_layoutassignmentadd', {teacherId : result.teacherId}) %}
    </div>
</div>

<div class="listHeaderHidden" id="floatHolder" style="display: none;">
    <div class="row-grey" id="rowHeaderFloating" style="min-width: 920px;">
            <span class="titleshead" style="position: fixed; left: 0px; top: auto; z-index: 99999; background-color: #c9c9c9; height: 35px; margin-left: 221px; padding-left: 10px;">
                <div class="name" style="padding-bottom: 10px; padding-top: 10px; margin-right: -5px; margin-left: -10px; padding-left: 10px;">Student Name</div>
                <div class="grade" style="padding-bottom: 5px; padding-top: 12px;  margin-left: 0px;">Grade</div>
            </span>
            <span class="gradeshead" style="position: relative; width: auto; margin-left: 208px; top: auto; z-index: 1; background-color: #c9c9c9; opacity: 1;">
                {% if result.assignments|length > 0 %}
                    {% for assignment in result.assignments %}
                        <div class="subject assignmentdiv" id="assignment_{{ assignment.id }}" style="margin-left: -5px; margin-bottom: -5px; padding-right: 5px;">
                            <div id="assTitle_{{ assignment.id }}" style="padding-left: 10px; float: left; text-align: center; width: 78%; vertical-align: middle;">
                                {{ assignment.title[:10] }}{% if assignment.title|length > 10 %}...{% endif %}&nbsp;
                            </div>
                            <div style="float: right; margin-top: -1px; text-align: right; width: auto; vertical-align: middle;">
                                <a class="clickTip" id="click_{{ assignment.id }}" href="javascript:void(0);" title="{% render url('_layoutassignmenttooltip', {id : assignment.id }) %}"><img src="/images/icon_i.png" width="16" height="16" /></a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="subject assignmentdiv" id="assignment_0" style="height: 14px; width: 0px;">
                        &nbsp;
                    </div>
                {% endif %}
            </span>
    </div>
</div>

<div class="list-holder" id="defaultholder" style="position: inherit;">
<div class="row-grey" id="rowHeader" style="min-width: 920px;">
            <span class="titleshead defaulthead" style="">
                <div class="name" style="padding-bottom: 10px; padding-top: 10px; margin-right: -5px; margin-left: -10px; padding-left: 10px;">Student Name</div>
                <div class="grade" style="padding-bottom: 5px; padding-top: 12px;  margin-left: 0px;">Grade</div>
            </span>
            <span class="gradeshead" style="position: relative; width: auto; margin-left: 208px; top: auto; z-index: 1; background-color: #c9c9c9; opacity: 1;">
                {% if result.assignments|length > 0 %}
                    {% for assignment in result.assignments %}
                        <div class="subject assignmentdiv" id="assignment_{{ assignment.id }}" style="margin-left: -5px; margin-bottom: -5px; padding-right: 5px;">
                            <div id="assTitle_{{ assignment.id }}" style="padding-left: 10px; float: left; text-align: center; width: 78%; vertical-align: middle;">
                                {{ assignment.title[:10]}}{% if assignment.title|length > 10 %}...{% endif %}&nbsp;
                            </div>
                            <div style="float: right; margin-top: -1px; text-align: right; width: auto; vertical-align: middle;">
                                <a class="clickTip" id="click_{{ assignment.id }}" href="javascript:void(0);" title="{% render url('_layoutassignmenttooltip', {id : assignment.id }) %}"><img src="/images/icon_i.png" width="16" height="16" /></a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="subject assignmentdiv" id="assignment_0" style="height: 14px; width: 0px;">
                        &nbsp;
                    </div>
                {% endif %}
            </span>
</div>

<div class="clr"></div>
<input type="hidden" name="gradingStyle" id="gradingStyle" value="{{ result.gradingstyle }}"/>
{% for student in result.students %}
<div class="row-universal">
            <span class="titles" id="titles{{ student.id }}" style="">
                <div class="name" id="name{{ student.id }}" style="padding-bottom: 10px; padding-top: 15px; margin-left: -10px; padding-left: 10px;">{{ student.first_name }}&nbsp;{{ student.last_name }}</div>
                <div class="grade" id="grade{{ student.id }}" style="padding-bottom: 5px; padding-top: 12px; margin-left: -5px;">{{ result.studentresults[student.id] }}{% if (result.gradingstyle == 'percent') %}{% if (result.studentresults[student.id] != '-') %}%{% endif %}{% endif %}</div>
            </span>

            <span class="grades studentdiv" id="grades{{ student.id }}" style="position: relative; width: auto; margin-left: 208px; top: auto; z-index: 1;">
                {% if result.assignments|length > 0 %}
                    {% if result.grades|length > 0 %}
                        {% for assignment1 in result.assignments %}
                            <div class="subject givegrades" id="g_{{ student.id }}_{{ assignment1.id }}" style="margin-left: -5px; padding-right: 5px;">
                                <span id="score_{{ student.id }}_{{ assignment1.id }}">{% if result.grades[assignment1.id][student.id] is defined %}{{ result.grades[assignment1.id][student.id] }}{% else %} - {% endif %}</span>
                                <input type="text" class="studentgrade" id="studentgrade_{{ student.id }}_{{ assignment1.id }}" value="{% if (result.grades[assignment1.id][student.id] is defined) and (result.grades[assignment1.id][student.id] != '-') %}{{ result.grades[assignment1.id][student.id] }}{% else %} - {% endif %}" style="display: none" onblur="revertScoring(this);"/><span id="total_{{ student.id }}_{{ assignment1.id }}" style="display: none;">/20</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for assignment1 in result.assignments %}
                            <div class="subject givegrades" id="g_{{ student.id }}_{{ assignment1.id }}" style="margin-left: -5px; padding-right: 5px;">
                                <span id="score_{{ student.id }}_{{ assignment1.id }}">-</span>
                                <input type="text" class="studentgrade" id="studentgrade_{{ student.id }}_{{ assignment1.id }}" value="-" style="display: none" onblur="revertScoring(this);"/><span id="total_{{ student.id }}_{{ assignment1.id }}" style="display: none;">/20</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="subject givegrades" id="g_{{ student.id }}_0" style="width: 0px;">
                        &nbsp;
                    </div>
                {% endif %}
            </span>
</div>

<div class="clr"></div>
{% endfor %}

<script type="text/javascript">
    $(window).on('scroll', function(){
        var elem = $('#rowHeader');
        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();

        var elemTop = $(elem).offset().top;
        var elemBottom = elemTop + $(elem).height();

        var viewable = ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));

        if (!viewable){
            $('#floatHolder').show();
        } else {
            $('#floatHolder').hide();
        }

        var elem1 = $('#listEnd');
        var docViewTop1 = $(window).scrollTop();
        var docViewBottom1 = docViewTop + $(window).height();

        var elemTop1 = $(elem1).offset().top;
        var elemBottom1 = elemTop1 + $(elem1).height();
        var viewable1 = (elemBottom1 > docViewBottom1);

        if (!viewable1){

            $('#floatScroll').hide();

        } else {

            var mainHeaderWidth = $('#rowHeader').width();

            if (mainHeaderWidth > 750){
                $('#floatScroll').show();
            } else {
                $('#floatScroll').hide();
            }
        }
    });


    $('#defaultholder').on('scroll', function(){

        if ($('#floatHolder').is(':visible')){

            var leftOffset = $('#defaultholder').scrollLeft();
            $('#floatHolder').scrollLeft(leftOffset);
            $('#rowHeader').scrollLeft(leftOffset);
            $('#floatScroll').scrollLeft(leftOffset);

            $('.row-universal').each(function(){
                $(this).scrollLeft(leftOffset);
            });
        }
    });

    $('.grades').on('click', '.givegrades', function(){

        highlightRowAndColumns($(this).attr('id'));
        var gradeboxid      = $(this).attr('id');
        var gradeinputboxid = gradeboxid.replace("g_", "studentgrade_");
        var existingspanid  = gradeboxid.replace("g_", "score_");
        var totalspanid     = gradeboxid.replace("g_", "total_");

        var temp = gradeboxid.split('_', -1);
        var assignmentId = temp[2];

        var path = '{{ path('_getassignmentpossiblepoints') }}';
        var method = 'POST';

        $.ajax({
            type: method,
            url: path,
            dataType: 'html',
            data: {
                assignmentId: assignmentId
            },
            success: function(data){
                var temp   = data.split('__', -1);
                var code   = temp[0];
                var points = temp[1];

                if ((code == 201) || (code == 200)){
                    $('#'+totalspanid).show();
                    $('#'+totalspanid).html('/' + points);
                }
            },
            error: function(error){
                var txt = error.responseText;
                alert(txt);
            }
        });

        $('#'+existingspanid).hide();
        $('#'+gradeinputboxid).attr('style', 'display: inline; width: 40px; height: 10px; font-size: 10px; margin-left: 10px; text-align: center;');
        $('#'+gradeinputboxid).focus();
    });

    function revertScoring(me)
    {
        var gradeinputboxid = me.id;
        var gradeboxid      = gradeinputboxid.replace("studentgrade_", "g_");
        var existingspanid  = gradeinputboxid.replace("studentgrade_", "score_");
        var totalspanid     = gradeinputboxid.replace("studentgrade_", "total_");

        deHighlightAll();

        // saving the grade
        var existingVal = $('#'+existingspanid).html();

        var newVal = $('#'+gradeinputboxid).val();
        var temp = gradeinputboxid.split('_', -1);
        var studentId    = temp[1];
        var assignmentId = temp[2];
        var path = '';

        existingVal = existingVal.trim();
        newVal = newVal.trim();

        if ((existingVal != newVal) && (newVal != '-')){

            if ((existingVal == '') || (existingVal == '-')){

                path = '{{ path('_insertgrade') }}';

            } else {

                path = '{{ path('_updategradewithassignmentandstudent') }}';
            }

            var pathForResult = '{{ path('_calculatestudentresult') }}';

            $.ajax({
                type: 'POST',
                url: path,
                dataType: 'html',
                data: {
                    assignment: assignmentId,
                    student: studentId,
                    grade: newVal

                },
                success: function(data){
                    var temp = data.split('__', -1);
                    var code = temp[0];
                    var grade = temp[1];

                    if ((code == 201) || (code == 200)){

                        $('#'+totalspanid).hide();
                        $('#'+gradeinputboxid).val(grade);
                        $('#'+gradeinputboxid).hide();
                        $('#'+existingspanid).show();
                        $('#'+existingspanid).html(grade);
                        $('#'+gradeboxid ).show();

                        var env = $('#env').val();
                        var redirectPath = "";
                        var currentUrl = window.location.href;

                        var pathPrefix = "";
                        if (env == 'dev'){

                            if (currentUrl.indexOf("app_dev.php") !== -1){
                                pathPrefix = '/app_dev.php';
                            } else {
                                pathPrefix = '';
                            }

                        } else if (env == 'prod'){

                            if (currentUrl.indexOf("app.php") !== -1){
                                pathPrefix = '/app.php';
                            } else {
                                pathPrefix = '';
                            }
                        }

                        // change tooltips dynamically based on inserted grade
                        $.ajax({
                            type: 'GET',
                            async: false,
                            url: pathPrefix + '/layoutheader/assignmenttooltip/'+assignmentId,
                            dataType: 'html',
                            data: {
                                id: assignmentId
                            },
                            success: function(data){
                                $('a#click_'+assignmentId).attr('title', data);
                                check();
                            },
                            error: function(error){
                                alert(error.responseText);
                            }
                        });

                        // updating/inserting result based on inserted grades
                        $.ajax({
                            type: 'POST',
                            url: pathForResult,
                            async: true,
                            dataType: 'html',
                            data: {
                                studentId: studentId,
                                teacherId: $('#teacherId').val()
                            },
                            success: function(data){
                                var temp      = data.split('__', -1);
                                var code      = temp[0];
                                var studentId = temp[1];
                                var result    = temp[2];

                                if (code == 200){
                                    $('#grade'+studentId).html(result);
                                }
                            },
                            error: function(error){
                                var txt = error.responseText;
                                alert(txt);
                            }
                        });
                    }
                },
                error: function(error){
                    var txt = error.responseText;
                    alert(txt);
                }
            });

        } else {

            $('#'+totalspanid).hide();
            $('#'+gradeinputboxid).hide();
            $('#'+existingspanid).show();
            $('#'+existingspanid).html(existingVal);
            $('#'+gradeboxid ).show();
        }
    }


    $('.grades').on('keyup', '.studentgrade', function(e){
        if ( e.keyCode == 13 ){
            revertScoring(this);
        }
    });


    $(function(){
        $('.grades').on('mouseover', '.givegrades', function(){

            var clickedCount = 0;
            var clickedObj;

            $('.studentgrade').each(function(){
                if($(this).is(':visible')){
                    clickedCount++;
                    clickedObj = this;
                }
            });

            if (clickedCount == 0){
                var p = 0;
                var allAssignments = [];

                $('.subject.assignmentdiv').each(function(){
                    allAssignments[p] = $(this).attr('id').replace('assignment_', '');
                    p++;
                });


                var q = 0;
                var allStudents = [];

                $('.grades.studentdiv').each(function(){
                    allStudents[q] = $(this).attr('id').replace('grades', '');
                    q++;
                });

                // calculate number of row above
                var id   = $(this).attr('id');
                var temp = id.split('_');

                var prefix       = temp[0];
                var studentId    = temp[1];
                var assignmentId = temp[2];

                var a = [];
                var s = [];
                var x = 0;
                var y = 0;

                for(var k = 0; k < allStudents.length; k++){

                    if (allStudents[k] == studentId){
                        break;

                    } else {

                        s[y] = allStudents[k];
                        y++;
                    }
                }

                for(var i = 0; i < allAssignments.length; i++){

                    if (allAssignments[i] == assignmentId){
                        break;

                    } else {

                        a[x] = allAssignments[i];
                        x++;
                    }
                }

                // select the assignment title and student name and assign style to them
                $('#assignment_'+assignmentId).attr('style', 'background-color: #c9c9c9; margin-left: -5px; margin-bottom: -5px; padding-right: 5px;');
                $(this).attr('style', 'background-color: #c9c9c9; margin-left: -5px; padding-right: 5px;');
                $('#name'+studentId).attr('style', 'background-color: #c9c9c9; padding-bottom: 8px; padding-top: 15px; margin-right: -5px; margin-left: -10px; padding-left: 10px;');
                $('#grade'+studentId).attr('style', 'background-color: #c9c9c9; padding-bottom: 5px; padding-top: 12px;');

                for (var j = 0; j <= a.length; j++){
                    $('#'+prefix+'_'+studentId+'_'+a[j]).attr('style', 'background-color: #c9c9c9; margin-left: -5px; padding-right: 5px;');
                }

                for (var l = 0; l <= s.length; l++){
                    $('#'+prefix+'_'+s[l]+'_'+assignmentId).attr('style', 'background-color: #c9c9c9; margin-left: -5px; padding-right: 5px;');
                }

            } else {

                var clickedId = clickedObj.id;
                var selectingForHighlightingId = clickedId.replace("studentgrade_", "g_");
                highlightRowAndColumns(selectingForHighlightingId);
            }
        });
    });



    $('.grades').on('mouseout', '.givegrades', function(){

        var clickedCount = 0;
        var clickedObj;

        $('.studentgrade').each(function(){
            if($(this).is(':visible')){
                clickedCount++;
                clickedObj = this;
            }
        });

        if (clickedCount == 0){
            var p = 0;
            var allAssignments = [];

            $('.subject.assignmentdiv').each(function(){
                allAssignments[p] = $(this).attr('id').replace('assignment_', '');
                p++;
            });


            var q = 0;
            var allStudents = [];

            $('.grades.studentdiv').each(function(){
                allStudents[q] = $(this).attr('id').replace('grades', '');
                q++;
            });

            // calculate number of row above
            var id   = $(this).attr('id');
            var temp = id.split('_');

            var prefix       = temp[0];
            var studentId    = temp[1];
            var assignmentId = temp[2];

            var a = [];
            var s = [];
            var x = 0;
            var y = 0;

            for(var k = 0; k < allStudents.length; k++){
                if (allStudents[k] == studentId){
                    break;

                } else {

                    s[y] = allStudents[k];
                    y++;
                }
            }

            for(var i = 0; i < allAssignments.length; i++){
                if (allAssignments[i] == assignmentId){
                    break;

                } else {

                    a[x] = allAssignments[i];
                    x++;
                }
            }

            // select the assignment title and student name
            $('#assignment_'+assignmentId).css("background-color", "");
            $(this).css("background-color", "");
            $('#name'+studentId).css("background-color", "");
            $('#grade'+studentId).css("background-color", "");

            for (var j = 0; j < a.length; j++){
                $('#'+prefix+'_'+studentId+'_'+a[j]).css("background-color", "");
            }

            for (var l = 0; l < s.length; l++){
                $('#'+prefix+'_'+s[l]+'_'+assignmentId).css("background-color", "");
            }
        }
    });


    function check(){
        $('a.clickTip').aToolTip({
            clickIt: true,
            fixed: false,
            xOffset: 0,
            yOffset: -150
        });
    }

    function dehighlightHover(){
        $(".clickTip").hover(
            function()
            {
                $(this).stop().attr('title', '');
            },
            function()
            {
                $(this).stop().attr('');
            });
    }

    $(function(){
        $(".clickTip").hover(
            function()
            {
                $(this).stop().attr('title', '');
            },
            function()
            {
                $(this).stop().attr('');
            });
    });


    function highlightRowAndColumns(me)
    {
        var p = 0;
        var allAssignments = [];

        $('.subject.assignmentdiv').each(function(){
            allAssignments[p] = $(this).attr('id').replace('assignment_', '');
            p++;
        });


        var q = 0;
        var allStudents = [];

        $('.grades.studentdiv').each(function(){
            allStudents[q] = $(this).attr('id').replace('grades', '');
            q++;
        });

        // calculate number of row above
        var id   = me;
        var temp = id.split('_');

        var prefix       = temp[0];
        var studentId    = temp[1];
        var assignmentId = temp[2];

        var a = [];
        var s = [];
        var x = 0;
        var y = 0;

        for(var k = 0; k < allStudents.length; k++){
            if (allStudents[k] == studentId){
                break;

            } else {

                s[y] = allStudents[k];
                y++;
            }
        }

        for(var i = 0; i < allAssignments.length; i++){
            if (allAssignments[i] == assignmentId){
                break;

            } else {

                a[x] = allAssignments[i];
                x++;
            }
        }

        // select the assignment title and student name and assign styles
        $('#assignment_'+assignmentId).attr('style', 'background-color: #c9c9c9; margin-left: -5px; margin-bottom: -5px; padding-right: 5px;');

        $('#'+me).attr('style', 'background-color: #c9c9c9; margin-left: -5px; padding-right: 5px;');

        $('#name'+studentId).attr('style', 'background-color: #c9c9c9; padding-bottom: 8px; padding-top: 15px; margin-right: -5px; margin-left: -10px; padding-left: 10px;');
        $('#grade'+studentId).attr('style', 'background-color: #c9c9c9; padding-bottom: 5px; padding-top: 12px;');

        for (var j = 0; j <= a.length; j++){
            $('#'+prefix+'_'+studentId+'_'+a[j]).attr('style', 'background-color: #c9c9c9; margin-left: -5px; padding-right: 5px;');
        }

        for (var l = 0; l <= s.length; l++){
            $('#'+prefix+'_'+s[l]+'_'+assignmentId).attr('style', 'background-color: #c9c9c9; margin-left: -5px; padding-right: 5px;');
        }
    }


    function deHighlightRowsAndColumns(me)
    {
        var p = 0;
        var allAssignments = [];

        $('.subject.assignmentdiv').each(function(){
            allAssignments[p] = $(this).attr('id').replace('assignment_', '');
            p++;
        });


        var q = 0;
        var allStudents = [];

        $('.grades.studentdiv').each(function(){
            allStudents[q] = $(this).attr('id').replace('grades', '');
            q++;
        });

        // calculate number of row above'
        var id   = me;
        var temp = id.split('_');

        var prefix       = temp[0];
        var studentId    = temp[1];
        var assignmentId = temp[2];

        var a = [];
        var s = [];
        var x = 0;
        var y = 0;

        for(var k = 0; k < allStudents.length; k++){
            if (allStudents[k] == studentId){
                break;

            } else {

                s[y] = allStudents[k];
                y++;
            }
        }

        for(var i = 0; i < allAssignments.length; i++){
            if (allAssignments[i] == assignmentId){
                break;

            } else {

                a[x] = allAssignments[i];
                x++;
            }
        }

        // select the assignment title and student name and remove styles where necessary
        $('#assignment_'+assignmentId).css("background-color", " ");

        $('#'+me).css("background-color", " ");

        $('#name'+studentId).css("background-color", " ");
        $('#grade'+studentId).css("background-color", " ");

        for (var j = 0; j < a.length; j++){
            $('#'+prefix+'_'+studentId+'_'+a[j]).css("background-color", " ");
        }

        for (var l = 0; l < s.length; l++){
            $('#'+prefix+'_'+s[l]+'_'+assignmentId).css("background-color", " ");
        }
    }


    function deHighlightAll(){
        var p = 0;
        var allAssignments = [];

        $('.subject.assignmentdiv').each(function(){
            allAssignments[p] = $(this).attr('id').replace('assignment_', '');
            p++;
        });


        var q = 0;
        var allStudents = [];

        $('.grades.studentdiv').each(function(){
            allStudents[q] = $(this).attr('id').replace('grades', '');
            q++;
        });

        var a = [];
        var s = [];
        var x = 0;
        var y = 0;

        for(var k = 0; k < allStudents.length; k++){
            s[y] = allStudents[k];
            y++;
        }

        for(var i = 0; i < allAssignments.length; i++){
            a[x] = allAssignments[i];
            x++;
        }


        $('.subject.assignmentdiv').each(function(){
            $(this).css("background-color", "");
        });

        $('.name').css("background-color", "");
        $('.grade').css("background-color", "");

        for (var j = 0; j < a.length; j++){
            for (var l = 0; l < s.length; l++){
                $('#g'+'_'+s[l]+'_'+a[j]).css("background-color", "");
            }
        }
    }
</script>

<span id="listEnd" style="line-height: 0px; font-size: 0px;"></span>
</div>
<div class="listFooterHidden" id="floatScroll" style="display: block;">
    <div style="height: 0;">
            <span class="titleshead footerDiv" style="position: fixed; left: 0px; top: auto; z-index: 99999; height: 0px; margin-left: 221px; padding-left: 10px;">

            </span>
            <span class="gradeshead" style="position: relative; width: auto; margin-left: 208px; top: auto; z-index: 1;  height: 0px; opacity: 1;">
                {% for assignment in result.assignments %}
                    <div class="subject assignmentdiv" id="assignment_{{ assignment.id }}" style="margin-left: -5px; margin-bottom: -5px; padding-right: 5px; background: none !important;">

                    </div>
                {% endfor %}
            </span>
    </div>
</div>

<script type="text/javascript">
    $('#floatScroll').on('scroll', function(){

        if ($('#floatHolder').is(':visible')){
            var leftOffset = $('#floatScroll').scrollLeft();
            $('#floatHolder').scrollLeft(leftOffset);
            $('#rowHeader').scrollLeft(leftOffset);
            $('.row-universal').each(function(){
                $(this).scrollLeft(leftOffset);
            });
        }

        if ($('#defaultholder').is(':visible')){
            var leftOffset1 = $('#floatScroll').scrollLeft();
            $('#defaultholder').scrollLeft(leftOffset1);
            $('#rowHeader').scrollLeft(leftOffset1);
            $('.row-universal').each(function(){
                $(this).scrollLeft(leftOffset1);
            });
        }
    });
</script>

<div class="pagination">
    <a href="javascript:void(0);"><img src="/images/arrow_left.png" /> Previous</a>
    <a class="sel"href="javascript:void(0);">1</a>
    <a href="javascript:void(0);">Next <img src="/images/arrow_right.png" /></a>
</div>

{% endblock %}